
{% extends 'base.html' %}
{% load static %}
 {% load video_filters %}
  {% block titre %} Prédications – C.I.M.P.P{% endblock titre %}

{% block content %}


 <header class="page-hero" role="banner">
    <div class="container page-hero-inner">
      <nav class="breadcrumb" aria-label="Fil d'ariane">
        <a href="cimpp.html"><i class="fa-solid fa-house"></i> Accueil</a>
        <i class="fa-solid fa-chevron-right"></i>
        <span>Prédications</span>
      </nav>
      <h1>Nos <span>Prédications</span><br/>& Séquences Bibliques</h1>
      <p>Découvrez des messages prophétiques, des études approfondies et des enseignements qui transforment les âmes et fortifient la foi.</p>

    </div>
  </header>

  <!-- ============================================================
       GRILLE DES PREDICATIONS
  ============================================================ -->
  <section id="predications-list" aria-labelledby="pred-list-title">
    <div class="container">
      <span class="section-tag">Bibliothèque</span>
      <h2 class="section-title" id="pred-list-title">Toutes les Prédications</h2>
      <p class="section-subtitle">Cliquez sur une carte pour lire le résumé complet, les versets clés et les points d'application.</p>

      <div class="pred-grid">

        
        {% for predication in predications %}
          
      
      
        <!-- ── CARTE 1 ── -->
        <article class="pred-card fade-in" role="button"  aria-label="Ouvrir la prédication : L'Abondance de Dieu" onclick="window.location.href(`{% url 'main:predication_detail' slug=predication.slug %}`)">
          <div class="pred-card-img">
            <img src="{{predication.img_couverture.url}}" alt="L'Abondance de Dieu" loading="lazy" />
            <div class="pred-card-badge"><i class="fa-solid fa-book-open"></i> Jean</div>
            <div class="pred-card-date">{{ predication.date }}  </div>
           
          </div>
          <div class="pred-card-body">
            <h3 class="pred-card-title">{{ predication.titre }}</h3>
            {% comment %} 50 mot pour le resumer {% endcomment %}
            <p class="pred-card-excerpt">{{ predication.resume | truncatechars:100  }}</p>
            <div class="pred-card-meta">
              <div class="pred-card-preacher">
                <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?w=60&q=80" alt="Pasteur Emmanuel K." />
                <span>{{predication.predicateur}}</span>
              </div>
              <div class="pred-card-stars">
                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
              </div>
            </div>
            <a href ="{% url 'main:predication_detail' slug=predication.slug %}" class="pred-card-link">Lire le détail <i class="fa-solid fa-arrow-right"></i></a>
          </div>
      
          
          
        </article>

            {% endfor %}

      

      </div>
    </div>
  </section>


  {% endblock content %}

